<%= render partial: '/admin/admin-nav' %>
<div id="dashboard_body">
  <div class="dashboard_column" id="items_ready">
    <h2 class="subtitle">Incomplete Invoices</h2>
    <ul id="items_ready_list">
      <% @incomplete_invoices.each do |invoice| %>
        <li class="item_ready" id="inv-<%= invoice.id %>">
          Invoice #<%= link_to "#{invoice.id}", admin_invoice_path(invoice.id), method: :get %> - <%= "#{invoice.created_at.strftime("%A, %B %-d, %Y")}" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="dashboard_column" id="favorite_customers">
    <h2 class="subtitle">Top Customers</h2>
    <ol class="favorite_customer_list">
      <% @top_customers.each do |customer| %>
        <li class="top_five_customer">
          <strong><%= customer.first_name %> <%= customer.last_name %></strong><br>
          <%= customer.transaction_count %> Purchases
        </li>
      <% end %>
    </ol>
  </div>
</div>







