<%= render partial: '/admin/admin-nav' %>
<h2 class="subtitle">Invoice #<%= @invoice.id %></h2>
<div class="inv_info">
  <div class="invoice_status_container" id="status-update-<%= @invoice.id %>">
    <strong>Status:&nbsp;</strong>
    <%= form_with model: [:admin, @invoice], local: true do |form| %>
      <%= form.select :status, [["In Progress", :in_progress], ["Completed", :completed], ["Cancelled", :cancelled]] %>
      <%= form.submit %>
    <% end %>
  </div>
</div>
<div class="inv_info"><strong>Created on:</strong> <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></div>
<div class="inv_info"><strong>Total Revenue:</strong> <%= price_convert(@invoice.total_revenue) %></div>
<div class="inv_info"><strong>Total Discounted Revenue:</strong> <%= price_convert(@invoice.total_revenue_with_discounts) %></div>
<div class="inv_info"><strong>Items on this Invoice:</strong></div>
<table class="invoice_items">
  <tr>
  <th>Item</th><th>Quantity Sold</th><th>Price Sold</th><th>Item Status</th>
  </tr>
  <% @invoice.invoice_items.each do |i| %>
    <tr>
      <td><%= i.item.name %></td>
      <td><%= i.quantity %></td>
      <td><%= price_convert(i.unit_price) %></td>
      <td><%= i.status.titleize%></td>
    </tr>
  <% end %>
</table>