<%= render partial: '/admin/admin-nav' %>
<h2 class="subtitle">Edit Merchant <%= @merchant.name %></h2>

<div class="inv_info">
  <%= form_with model: [:admin, @merchant], local: true do |form| %>
    <%= form.label :name, "Merchant Name: " %> 
    <%= form.text_field :name %><br>
    <%= form.submit 'Update Merchant' %>
  <% end %>
</div>
