<%= render partial: '/merchants/merchants-nav', locals: {merchant: @merchant} %>
<h2 class="subtitle">Edit Bulk Discount | id: <%= @bulk_discount.id %></h2>
<%= form_with model: [:merchant, @bulk_discount], local: true do |f| %>
  <%= f.label :threshold, "Item Quantity Threshold: " %>
  <%= f.text_field :threshold, size: 3 %><br>
  <%= f.label :discount, "Percent Discount: " %>
  <%= f.text_field :discount, size: 3, value: (@bulk_discount.discount * 100).to_i %>%<br>
  <%= f.submit "Update Bulk Discount" %>
<% end %>
