<%= render partial: '/merchants/merchants-nav', locals: {merchant: @merchant} %>
<h2 class="subtitle">Bulk Discounts</h2>

<div id="index_body">
  <div class="index_column">
    <h3>My Discounts</h3>
    <%= link_to "New Bulk Discount", new_merchant_bulk_discount_path(@merchant) %>
    <% @bulk_discounts.each_with_index do |bulk_discount, i| %>
      <div class="bulk_discount" id="discount_<%= bulk_discount.id %>">
        <strong><%= link_to "Bulk Discount #{i + 1}", merchant_bulk_discount_path(@merchant.id, bulk_discount.id) %></strong> | <%= link_to "Delete", merchant_bulk_discount_path(@merchant.id, bulk_discount.id), method: :delete %><br>
        Item Quantity Threshold: <%= bulk_discount.threshold %> items<br>
        Discount Percentage: <%= percent_convert(bulk_discount.discount) %><br>
          <% unless bulk_discount.holiday.empty? %>
            Holiday: <%= bulk_discount.holiday %>
          <% end %>
      </div>
    <% end %>
  </div>
  <div class="index_column">
    <h3>Upcoming US Holidays</h3>
      <ol>
        <% @holidays.each do |holiday| %>
          <li class="holiday">
            <div class ="holiday_name"><strong><%= holiday.name %></strong><br><%= holiday.date.strftime("%A, %B %-d, %Y") %></div>
              <% if holiday.has_discount?(@merchant.id) %>
                <div><%= link_to "View Discount", merchant_bulk_discount_path(@merchant.id, holiday.discount_id(@merchant.id)) %></div>
              <% else %>
                <div><%= button_to "Create Holiday Discount", new_merchant_bulk_discount_path(@merchant.id), method: :get, params:[ threshold: 2, discount: 30, holiday: holiday.name ] %></div>
              <% end %>
          </li>
        <% end %>
      </ol>
  </div>
</div>
