<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="page_title"> <%= link_to "Little Esty Shop", "/" %></div>
    <div id="welcome_nav">
      <div id="welcome_nav_buttons">
        <%= link_to merchants_path do %>
          <div class="welcome_nav_button_left">Merchant Dashboards Index</div>
        <% end %>
        <%= link_to admin_dashboard_path do %>
          <div class="welcome_nav_button_right">Admin Dashboard</div>
        <% end %>
      </div>
    </div>

    <% if flash.count > 0 %>
      <div id="flash_messages">
        <div class='flash_message'>
          <% flash[:messages].each do |msg| %>
              <%= msg %><br>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= yield %>


    </section>
  </body>
</html>
